h1,
h2 {
  font-family: Lato;
}

#header {
  background-color: darkgray;
  padding: 10px;
  text-align: center;
}

#name {
  color: yellow;
  /* background-color: gray; */
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: silver;
  padding: 5px;
  margin-top: 10px;
}

#mypic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
